{
  "extends": ["standard"],
  "env": {
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}]
  }
}
